.base{
  display: flex;
  width: 1458.27734375;
  padding: 80px;
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  justify-content: center;
  }

.base-data{
  display: flex;
  justify-content: center;
  width: 1119.9827880859375px;
  height: autos;
  gap: 200px;

  }

.base-details{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 215.49569702148438px;
  height: auto;
  gap: 150px;
}

.base-info{
  width: 215.49569702148438px;
  height: auto;
  gap: 19.21px;
  flex-shrink: 0
}

.base-info h3{
  width: 215.49569702148438px;
  height: auto;
  font-family: Inter;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.base-info span{
  width: 215.49569702148438px;
  height: 38px;
  padding: 20px ;
  font-family: Inter;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
