.why-ctg{
  width: 950.13px;
  padding: 100px 5px;
  margin: 0 auto;              


}

.why-ctg-main{
  width: 950.13px;
  gap: 57px;
  align-items: center;
}

.why-ctg-header{
  display: flex;
  flex-flow: column;
  padding-left: 300px;
  gap: 39px;
  align-items: center;   
  text-align: center;
}

.why-ctg-header-top{
  font-family: Oxanium;
  font-weight: 300;
  font-style: Light;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.why-ctg-header-content{
  font-family: Inter;
  font-weight: 600;
  font-style: medium;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  align-items: center;
}

.comparison-section{
 padding-top: 70px;
  width: 951px;
  height: auto;
  margin-bottom: 120px;
}

.highlight{
  width: 108px;
  height: 143px;
  top: 228px;
  left: 342.57px;
}

.feature-col {
  text-align: left !important;
  width: 260px;
  font-weight: 500;
  text-align: left;
}


.comparison-table {
  width: 100%;
  min-width: 1200px;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: Inter, sans-serif;
}


.comparison-table thead th {
  text-align: center;
  vertical-align: middle;
  border-bottom: none;
  padding-bottom: 28px
}

.comparison-table thead th img {
  display: block;        
  margin: 0 auto 8px;
  width: 88px;
  height: 88px;
  border-radius: 16px;
  object-fit: cover;    
}

.comparison-table thead th span {
  display: block;        
  font-size: 12px;
  text-align: center;
  font-weight: 500;
}

.comparison-table th,
.comparison-table td {
  padding: 18px 60px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #d9d9d9; 
  width: 140px;
}


.highlight {
  background: #f1fff6;
}

.comparison-table th.highlight,
.comparison-table td.highlight {
  background: #f1fff6;
}

/* CHECK / CROSS */
.check {
  color: #1f8f4a;
  font-weight: 700;
  font-size: 18px;
}

.cross {
  color: #777;
  font-size: 18px;
}

.comparison-cta {
  display: flex;
  justify-content: center;
  margin-top: 48px; 
}

.cta-btn {
  width: 194.5418243408203px;
  height: 56.270912170410156px;
  opacity: 1;
  border-radius: 505.64px;
  border-bottom-width: 1.01px;
  padding-top: 12.14px;
  padding-right: 24.27px;
  padding-bottom: 12.14px;
  padding-left: 24.27px;
  background: linear-gradient(180deg, #032E15 0%, #016630 100%);
  color: white;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
}

.cta-btn:hover {
  background:#555
}
